<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Nav Auth</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">
        <a class="navbar-brand navbar-collapse"
           sec:authorize="isAuthenticated()"
           th:href="@{/home}">Bookstore</a>
        <a class="navbar-brand navbar-collapse"
           sec:authorize="isAnonymous()"
           th:href="@{/}">Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between font-weight-bold" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/books/all}">All Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/review}">Review</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/users/order-history}">Order History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/users/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/users/shopping-cart}">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       sec:authorize="hasRole('ADMIN')"
                       th:href="@{/books/add}">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/about}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/users/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>