<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Bookstore - Book Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="bg-dark text-white text-center py-3">
        <div class="container">
            <h1 class="h2">Book Details</h1>
        </div>
    </header>

    <div th:replace="~{fragments/navigation}"></div>

    <main class="container mt-4">
        <div class="row mt-5" th:object="${bookDetailsDTO}">
            <div class="card col-lg-5 m-1 p-2">
                <img class="img-fluid" th:src="${bookDetailsDTO.imageUrl}" alt="Book Image">
            </div>
            <div class="col-md-6 font-weight-bold text-center">
                <h2 th:text="|Book Title: ${bookDetailsDTO.title}|">Book Title</h2>
                <p th:text="|Author: ${bookDetailsDTO.author}|">Author: Author Name</p>
                <p th:text="|Publisher: ${bookDetailsDTO.publisher}|">Publisher: Publisher Name</p>
                <p th:text="|ISBN: ${bookDetailsDTO.isbn}|">ISBN: 123-456-789</p>
                <p th:text="|Price: ${bookDetailsDTO.price}|">Price: $19.99</p>
                <div class="form-group mt-5">
                    <label for="quantity">Quantity</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1">
                </div>

            </div>
        </div>
        <div class="row justify-content-center">

            <form   class="col"
                    sec:authorize="hasRole('ADMIN')"
                    th:action="@{/books/edit/{id} (id= ${bookDetailsDTO.id})}"
                    th:method="GET">
                <button type="submit" class="col btn btn-success mt-5">Edit</button>
            </form>
            <form class="col">
                <button class="col btn btn-warning mt-5">Add to Cart</button>
            </form>

            <form class="col"
                  sec:authorize="hasRole('ADMIN')"
                  th:action="@{/books/delete/{id} (id =${bookDetailsDTO.id})}"
                  th:method="DELETE"
            >
                <button class="col btn btn-danger mt-5 ml-3">Remove</button>
            </form>

        </div>
    </main>

    <div th:replace="~{fragments/footer}"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
